<div class="container">
  <div class="text-center mt-5">
    <h2>アカウント編集 </h2>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10 col-md-6">
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render 'shared/validation_error', instance: resource %>
        <div class="mb-4">
          <%= f.label :username, "ユーザーネーム", class: "text-secondary fw-bold mb-2" %>
          <%= f.text_field :username, class: "form-control shadow-sm py-md-3" %>
        </div>
        <div class="mb-4">
          <%= f.label :email, "メールアドレス", class: "text-secondary fw-bold mb-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control shadow-sm py-md-3" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="mb-4">
          <%= f.label :current_password, "現在のパスワード（必須）", class: "text-secondary fw-bold mb-2" %>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control shadow-sm py-md-3" %>
        </div>
         <div class="mb-4">
          <%= f.label :password, "パスワード", class: "text-secondary fw-bold mb-2" %><i>(変更したくない場合は空白のままにしてください)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control shadow-sm py-md-3" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> 文字以上</em>
          <% end %>
        </div>
          <%= f.label :password_confirmation, "パスワード確認", class: "text-secondary fw-bold mb-2" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control shadow-sm py-md-3" %>
        </div>
         <div class="mb-4">
            <%= f.label :zip_code, "郵便番号", class: "text-secondary fw-bold mb-2" %>
            <%= f.text_field :zip_code, class: "form-control shadow-sm py-md-3" %>
          </div>
          
          <div class="text-center">
            <%= f.submit "編集", class: "btn btn-blue shadow-sm fw-bold mt-4 px-5 py-3" %>
          </div>
      <% end %>    
  </div>
</div>
