<div class="container">
  <h2 class="shadow-sm">診断結果</h2>

  <p><%= current_user.username %>さんの診断が完了しました。</p>
  <p>あなたは…</p>
  <br>
  <% if @breast_condition.match_all_conditions? %>
    <div class ="result-mastitis">
      <h2>乳腺炎の可能性があります</h6>
      <% if @breast_condition.medication_elapsed_time? %>
        <%= render 'seeadoctor' %>
      <% else %>
        <%= render 'treatment' %>
        <p><span class="fs-6 fw-bold pb-4">半日ほど経っても改善がなければ受診しましょう</span></p>
      <% end %>
  <% elsif @breast_condition.suspected_infectious_disease? %>
    <div class="result-infection-notmastitis" style="height: 600px;">
      <h2>乳腺炎の可能性は低いです</h2>
      <p><span class="fs-6 fw-bold">他の原因で発熱している可能性があります。</span></p>
      <p><span class="fs-6 fw-bold pb-4">内科など医療機関へご相談くださいませ。</span></p>
    </div>
  
  <% elsif @breast_condition.not_mastitis?%>
    <div class="not-mastitis">
      <h2>乳腺炎の可能性は低いです</h2>
      <p>いつも通り授乳を続けで大丈夫です。</p>
      <p>もし、ご心配でしたら次の対処方法を行なってみましょう</p>
      <%= render 'treatment' %>
      <p><span class="fs-6 fw-bold pb-4">お困りのことがありましたら、当院へご相談くださいませ。</span></p>
    </div>
  <% else %>
    <div class="not-mastitis">
      <h2>乳腺炎の可能性は低いです</h2>
      <p>いつも通り授乳を続けて大丈夫です。</p>
      <p>しかし、これから乳腺炎に移行する可能性があります。</p>
      <p>次の対処方法を行なって様子を見ると良いでしょう。</p>
      <%= render 'treatment' %>
      <p><span class="fs-6 fw-bold pb-4">乳房の状態に変化が見られなければ来処されることをお勧めします。お気軽にご相談くださいませ。</span></p>
    </div>
  <% end %>

</div>


<%= link_to 'ブレストチェック履歴をみる', breast_conditions_path, class: 'px-3' %>
<%= link_to 'トップに戻る', root_path, class: 'pe-3' %>
