<div class="container">
 <div class="breast_condition-navigation col-10 col-md-6">
    <h2 class="shadow-sm">チェックブレスト　結果</h2>
    <table class="table table-bordered table-responsive mb-5" style="white-space: nowrap">
      <!-- テーブルのヘッダー -->
        
          <h5>チェック年月日</h5>
          <%= @breast_condition.created_at.strftime('%Y/%m/%d') %>
          <thead>
            <tr>
              <th>項目</th>
              <td>回答</td>
            </tr>
          </thead>
      <tbody>
          </tr>
          <th>発熱</th>
          <td><%= @breast_condition.is_fever ? 'あり' : 'なし' %></td>
        </tr>
        <tr>
          <th>疼痛</th>
          <td><%= @breast_condition.is_breast_pain ? 'あり' : 'なし' %></td>
        </tr>
        <tr>
          <th>発赤</th>
          <td><%= @breast_condition.is_breast_redness ? 'あり' : 'なし' %></td>
        </tr>
        <tr>
          <th>しこり</th>
          <td><%= @breast_condition.is_breast_lump ? 'あり' : 'なし' %></td>
        </tr>
          <th>上肢のつれ</th>
          <td><%= @breast_condition.is_upper_limb_elevation ? 'あり' : 'なし' %></td>
        </tr>
        <tr>
          <th>全身の症状</th>
          <td><%= @breast_condition.is_systemic_symptoms ? 'あり' : 'なし' %></td>
        </tr>
        </tbody>
    </table>
    
    <div class="breast_condition-navigation" style="font-weight:bold;">
      <ul>
      <li><%= link_to '診断する', new_breast_condition_path %></li>
      <li><%= link_to '履歴をみる', breast_conditions_path %></li>
      <li><%= link_to 'ホームへ戻る' , root_path %></li>
      </ul>
    </div>
  </div>
</div>
